<body>  

  <div>   
      
          <h1>AsterRoyale Controller</h1>
  </div>

  <div class="button1">
    <button style="margin:8px;height:75px;width:210px"mat-raised-button color="primary">up</button>
  </div>
    
<div class="container">
  
  <div class="buttons">
    
    <button style="margin:5px;height:100px;width:100px"mat-raised-button color="primary">left</button>
    <button style="margin:5px;height:100px;width:100px"mat-raised-button color="primary">right</button>
    <button style="margin: 10px 100px 10px 100px;height:175px;width:175px;padding-top:5px" mat-fab color="warn">FIRE!</button>
    
  </div>
 
</div>

</body>